<div [ngClass]="{'project-card-container': true, 'project-card-disabled' : !isActive}" (click)="toProject($event)" (keyup)="toProject($event)" tabindex="0" #card>
    <section class="project-card-spine">
        <p class="project-card-spine-title-container">
            @for (char of title1; track char;){
                <span>{{char}}</span>
            }
        </p>
        <img class="project-card-spine-icon" [src]="iconSpine" alt="project-tittle">
    </section>
    <section class="project-card-cover">
        <h2 class="project-card-cover-title">
            @for (word of title2; track word){
            <span>{{word}}</span>
            }
        </h2>
        <ul class="project-card-description-list">
            @for (description of descriptions; track description){
            <li class="project-card-description-item">{{description}}</li>
            }@empty{
            <li class="project-card-description-item">No description</li>
            }
        </ul>
        <p class="project-card-type">{{type}}</p>
        <ul class="project-card-technologies-icons-list">
            @for (icon of iconsTechnologies; track icon){
            <li class="project-card-technologies-icon-container">
                <img class="project-card-technologies-icon" [src]="icon" [alt]="icon">
            </li>
            }@empty{
            <li class="project-card-technologies-icon">No technologies</li>
            }
        </ul>
    </section>
</div>