@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Css reset */

:root {
    font-size: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Para Firefox */
    &::-webkit-scrollbar {
        display: none; /* Para WebKit (Chrome, Safari) */
      }
}

* { margin: 0; padding: 0;}
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; max-width: 100dvw; }
input, button, textarea, select { font: inherit; }

ul, ol { list-style: none; }
p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: 100%; width: 100%; }

a{ text-decoration: none; color: inherit; }


@media (prefers-reduced-motion: reduce)  {
 *, *::before, *::after { 
 animation-duration: 0.01ms !important; 
 animation-iteration-count: 1 !important; 
 transition-duration: 0.01ms !important; 
 scroll-behavior: auto !important;
 transition: none;
 }
}

