<div class="nav-bar-container" >
    <div class="nav-bar-menu" [ngClass]="{ 'nav-bar-menu-open' : isOpen, 'nav-bar-menu-close' : !isOpen}">
        <ul class="nav-bar-menu-list" >
            <li>
                <a data-ref="0" (click)="toggleMenu(); updateSelectedSecction($event)" href="#about-me" class="nav-bar-menu-link">About</a>
            </li>
            <li>
                <img src="assets/images/menu-list-space.svg" class="nav-bar-menu-list-space" alt="espace">
            </li>
            <li>
                <a data-ref="1" (click)="toggleMenu(); updateSelectedSecction($event)"  href="#projects" class="nav-bar-menu-link">Projects</a>
            </li>
            <li>
                <img src="assets/images/menu-list-space.svg" class="nav-bar-menu-list-space" alt="espace">
            </li>
            <li>
                <a data-ref="2" (click)="toggleMenu(); updateSelectedSecction($event)" href="#contact-me" class="nav-bar-menu-link" >Contact</a>
            </li>
        </ul>
    </div>
    <nav class="nav-bar" [ngClass]="{'nav-bar-not-visible' : !isVisible}">
        <ul class="nav-bar-list" [ngClass]="{'nav-bar-list-open' : isOpen }">
            <li (click)="toggleMenu()" (keyup.enter)="toggleMenu()" role="button" tabindex="0" class="nav-bar-list-menu-icon">
                <img src="assets/images/icon-menu-open.svg" alt="icon-open-menu"
                    [ngClass]="{'nav-bar-menu-icon-open' : !isOpen, 'nav-bar-menu-icon-open-hidden' : isOpen}" />
                <img src="assets/images/icon-menu-close.svg" alt="icon-close-menu"
                    [ngClass]="{'nav-bar-menu-icon-close' : isOpen, 'nav-bar-menu-icon-close-hidden' : !isOpen}" />
            </li>
            <li>
                <a href="" routerLinkActive="active" class="nav-bar-reset-container">
                    <img src="assets/images/logo.png" alt="logo" class="nav-bar-icon-reset"/>
                </a>
                <!-- Problema con la a y la imagen, no se adapta la a igual con flex -->
            </li>
            <li>
                <a data-ref="0" href="#about-me" (click)="updateSelectedSecction($event)"  class="nav-bar-link">About</a>
            </li>
            <li>
                <span class="nav-bar-space"></span>
            </li>
            <li>
                <a data-ref="1" href="#projects"(click)="updateSelectedSecction($event)"  class="nav-bar-link">Projects</a>
            </li>
            <li>
                <span class="nav-bar-space"></span>
            </li>
            <li>
                <a data-ref="2" href="#contact-me" (click)="updateSelectedSecction($event)" class="nav-bar-link">Contact</a>
            </li>
        </ul>
    </nav>
</div>