@use '../../styles/variables.scss' as *;

.nav-bar-container {
    position: relative;
    width: 100dvw;
}

.nav-bar-menu {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    background-color: $color-background1;
    z-index: 100;
}

.nav-bar-menu-open {
    top: 0;
    transition: top 0.5s ease-in-out;
}

.nav-bar-menu-close {
    top: -150dvh;
    transition: top 0.5s ease-in-out;
}

.nav-bar-menu-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8%;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
    font-weight: 300;
    letter-spacing: 0.2em;
    color: $color-routerLinks;
}


.nav-bar-menu-list-space {
    width: clamp(2.188rem, 3vw + 1.5rem, 2.813rem);;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 50%;
    transition: transform 0.5s ease-in-out;
    transform: translate(-50%, 0);
    z-index: 1000;
    
}
.nav-bar-not-visible {
    transition: transform 0.5s ease-in-out;
    transform: translate(-50%, -100%);
}
.nav-bar-list {
    display: flex;
    align-items: center;
    gap: 4vw; 
    padding: 8px 25px;
    background-color: $color-background1;
    border-radius: 0px 0px 25px 25px;
    
    li:nth-of-type(n+3) {
        display: none;
    }
}
.nav-bar-list-menu-icon{
    display: flex;
    align-items: center;
}
.nav-bar-list-open {
    border-right: 2px solid $color-tittle-icons;
    border-bottom: 2px solid $color-tittle-icons;
    border-left: 2px solid $color-tittle-icons;
}

.nav-bar-menu-icon-open {
    width: clamp(1.5rem, 1vw + 1.3rem, 1.75rem);;
    height: auto;
}

.nav-bar-menu-icon-open-hidden {
    display: none;
    height: auto;
}

.nav-bar-menu-icon-close {
    width: clamp(1.25rem, 1.1vw + 1rem, 1.375rem);
    height: auto;
}

.nav-bar-menu-icon-close-hidden {
    display: none;
}

.nav-bar-burger-hidden {
    display: none;
}

.nav-bar-reset-container {
    display: flex;
    align-items: center;
}
.nav-bar-icon-reset {
    width:clamp(1.75rem, 0.8vw + 1.5rem, 2.5rem);
    height: auto;
}


@media screen and (min-width: 768px) {
    .nav-bar-menu{
        display: none;
    }
    .nav-bar-list {
        padding: 6px 30px;
        gap: 50px;

        li:nth-of-type(1) {
            display: none;
        }

        li:nth-of-type(n+3) {
            display: inline-block;
        }
    }

    .nav-bar-link {
        font-family: 'Montserrat', sans-serif;
        color: $color-routerLinks;
        font-size: clamp(0.875rem, 0.9vw + 0.28rem, 1.25rem);;
        font-weight: 400;
        letter-spacing: 0.2em;
    }

    .nav-bar-space {
        border: 1px solid $color-tittle-icons;
    }

}
