@use '../../styles/variables.scss' as *;

.footer-container {
    background-color: $color-background1;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: $color-text1;
    font-size: clamp(0.5rem, 0.75vw + 0.31rem, 0.75rem);
}
.footer-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
}
.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.footer-info-autor,
.footer-info-licenses {
   display: flex;
   flex-direction: column;
   gap: 0.8em;
}
.footer-info-container-power,
.footer-info-designed {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.footer-info-icon {
    width: 2em;
    height: auto;
}

.footer-info-link-hover:hover {
    color: $color-routerLinks;  
}

.footer-info-licenses{
    color: rgba($color-text1, 0.4);
}

@media screen and (min-width: 992px){
    .footer-container{
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .footer-subcontainer{
        height: 95%;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .thank-you-container{
        flex: 1 0 auto;
        max-height: 90%;
    }
    .footer-info {
        flex: 0 0 10%;
    }
}