<div class="footer-container">
    <div class="footer-subcontainer">
        <app-thank-you class="thank-you-container"></app-thank-you>
        <section class="footer-info">
            <div class="footer-info-autor">
                <p class="footer-info-designed">
                    <img src="assets/images/logo.png" alt="logo.png" class="footer-info-icon">
                    <span>
                        2024 Designed and developed by
                        <a href="https://es.linkedin.com/in/diegocastiblanque-webdev" target="_blank"
                            class="footer-info-link-hover">
                            <u>Diego Castiblanque Alberca</u>
                        </a>.
                    </span>
                </p>
                <p class="footer-info-container-power">
                    <span>Powered by:</span>
                    <img src="assets/images/angular-color.png" alt="angular" class="footer-info-icon">
                    <img src="assets/images/ts-color.png" alt="typeScript" class="footer-info-icon">
                </p>
            </div>
            <div class="footer-info-licenses">
                <p>
                    <span>Icons by </span>
                    <a href="https://icons8.com/icons" target="_blank" class="footer-info-link-hover">
                        <u>Icons8</u>
                    </a>
                </p>
                <p>
                    <span>Icons made by </span>
                    <a href="https://www.flaticon.com/authors/illosalz" title="Illosalz" class="footer-info-link-hover">
                        <u>Illosalz</u>
                    </a>
                    <span> from </span>
                    <a href="https://www.flaticon.com/" title="Flaticon" class="footer-info-link-hover">
                        <u>www.flaticon.com</u>
                    </a>
                </p>
            </div>
        </section>
    </div>
</div>