<div class="about-me-container">
    <h2 [class.shining]="isTyppingNow" class="about-me-title"><span>About</span><span>Me</span></h2>
    <div class="about-me-info-container">
        <section  #about_me_info_without_dimensions class="about-me-info">
            <p class="text-indent">
                <span [class.cursor]="spans[0].isTypping">{{spans[0].text}}</span>
                <span class="strongSpan" [class.cursor]="spans[1].isTypping">{{spans[1].text}}</span>
                <span [class.cursor]="spans[2].isTypping">{{spans[2].text}}</span>
            </p>
            <p><span [class.cursor]="spans[3].isTypping">{{spans[3].text}}</span></p>
            <p><span [class.cursor]="spans[4].isTypping">{{spans[4].text}}</span></p>
        </section>
        <section #about_me_info_with_dimensions class="about-me-info about-me-info-copy-hidden">
            <p class="text-indent">
                <span>{{textContent[0]}}</span>
                <span class="strong-span">{{textContent[1]}}</span>
                <span>{{textContent[2]}}</span>
            </p>
            <p><span>{{textContent[3]}}</span></p>
            <p><span>{{textContent[4]}}</span></p>
        </section>
    </div>
</div>