<section class="thanks-container">
    <h2 class="thanks-title">Thank you for visiting my website!</h2>
    <div class="thanks-content">
        <article class="thanks-subcontainer1">
            <p class="thanks-text">If you like what you see and want to know more about me, you can contact me via email, Whatsapp or my Linkedin profile. </p>
            <div class="thanks-container-gif">
                <img class="thanks-dev-gif"
                    src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExbXp5dnZlMTV4bHJpaXBhdHBnMWtmZnF3cmJrODQ1cDJ2NGw1NTZkciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/L8K62iTDkzGX6/giphy.gif"
                    alt="developer.jpg">
            </div>
        </article>
        <article class="thanks-subcontainer2">
            <div class="thanks-container-quote">
                <p class="thanks-farewell">And remember this:</p>
                <app-quotes class="thanks-quote"></app-quotes>
                <p class="thanks-farewell">
                    Have a nice day and see you in the code! 
                    <img src="assets/images/thanks-icons/bot-bye1.png" alt="bot-bye-icon.png"class="thanks-bye-icon">
                </p>
            </div>
            <app-contact-links class="thanks-contact-container"></app-contact-links>
        </article>
    </div>
</section>