.container-quote{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    padding: 1em;
    background-color: rgba(white, 0.04);
    border: 1px solid #ffd609;
    border-radius: 15px;
    width: 85%;
    max-width: max-content;
    margin: 0 auto;
}
.quote-autor{
    display: inline-block;
    position: relative;
}
.quote-signed-icon{
    position: absolute;
    bottom: 0;
    width: 2em;
    height: auto;
}

@media screen and (min-width: 992px){
    .container-quote{
        width: 80%;
    }
}