@use '../../../styles/variables.scss' as *;
.contact-links-container {
    transform: rotate(-5deg);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.contact-links-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}
.contact-links-title{
    color: $color-routerLinks;
    font-size: 2em;
    text-align: center;
}

.contact-links-container-arrows {
    display: flex;
    justify-content: center;
    gap: 2.5em;//clamp
}
.contact-links-arrow {
    width: 3.5em;
    height: auto;
}
.contact-links-container-icons{
    display: flex;
    justify-content: center;
    gap: 4em;//clamp
    color: $color-text2;
}
.contact-links-icon{
    width: 2.5em;
    height: auto;
}
@media screen and (min-width: 992px){
    
    .contact-links-subcontainer {
        gap: 0;
    }
    .contact-links-title{
        font-size: 2.5em;
    }
    
    .contact-links-container-arrows {
        display: flex;
        justify-content: center;
        gap: 3em;
    }
    .contact-links-arrow {
        width: 5em;
        height: auto;
    }
    .contact-links-container-icons{
        display: flex;
        justify-content: center;
        gap: 5em;
        color: $color-text2;
    }
    .contact-links-icon{
        width: 3em;
        height: auto;
    }
    
}