<section class="contact-links-container" id="contact-me">
    <h2 class="contact-links-title">Contact Me</h2>
    <div class="contact-links-subcontainer">
        <div class="contact-links-container-arrows">
            <img src="assets/images/arrows/arrow-down-left.png" alt="" class="contact-links-arrow">
            <img src="assets/images/arrows/arrow-down.png" alt="" class="contact-links-arrow">
            <img src="assets/images/arrows/arrow-down-right.png" alt="" class="contact-links-arrow">
        </div>
        <div class="contact-links-container-icons">
            <a href="mailto:dcwebcode@gmail.com" class="contact-links-ancor">
                <img class="contact-links-icon" src="assets/images/contact-icons/mail.png" alt="">
            </a>
            <a href="https://wa.me/34679543526?text=Write%20me%20for%20more%20information,%20I%20will%20be%20happy%20to%20help%20you." target="_blank" target="_blank" class="contact-links-ancor">
                <img class="contact-links-icon" src="assets/images/contact-icons/whatsapp.png" alt="">
            </a>
            <a href="https://es.linkedin.com/in/diegocastiblanque-webdev" class="contact-links-ancor" target="_blank">
                <img class="contact-links-icon" src="assets/images/contact-icons/linkedin.png" alt="">
            </a>
        </div>
    </div>
</section>